.project-sect {
    /* border: 1px solid dodgerblue; */
    height: 50%;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-left: 10px;
    margin-right: 10px;
}

#project-header {
    margin: 0px;
    background: linear-gradient(271deg, #a0e9ff 50%, #a162e8 60%, #f093b0 90%, #edca85 70%);
    background-color: #111111;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.9em;
}

#project-header-desc {
    margin: 0px;
    margin-top: 10px;
}

.yt-sect {
    /* border: 1px red solid; */
    padding: 40px;
    display: flex;
    justify-content: center;
}

.project-article {
    max-width: 27vw;
    margin-left: 15px;
}

.puzzle-sect {
    /* border: 1px solid peru; */
    padding: 40px;
    display: flex;
    justify-content: center;
}

#yt-image {
    max-width: 300px;
}

#puzzle-image {
    max-width: 45vw;
}

@media only screen and (max-width: 600px) {
    .yt-sect {
        display: block;
    }
    #yt-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .project-article {
        margin-left: auto;
        margin-right: auto;
        min-width: 320px;
    }

    .puzzle-sect {
        display: block;
    }

    #puzzle-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 70vw;
    }
}

@media only screen and (max-width: 450px) {
    .project-article {
        max-width: 320px;
    }
}


